<div class="twelve columns">
  <h2><%= @note.subject %></h2>
</div>

<div class="six columns end">
  <div class="admin_links twelve columns">
    <%= link_to 'Back', dashboard_path %> | <%= link_to 'Delete note', @note, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

  <div class="twelve columns">
    <%= @note.content %>
  </div>
</div>


