<div class="twelve columns">
  <h2>Users</h2>
</div>

<div class="twelve columns">
<ul>
  <% @users.each do |user| %>
    <%= render :partial => 'shared/userdiv', :locals => { :user => user }  %>
  <% end %>
  <%= paginate @users %>
</ul>
</div>