<div id="audio_form_wrapper">

  <fieldset>

    <legend>Add Audio</legend>

    <div class="field">
      <%= label_tag 'audio_title' %><br/>
      <%= text_field_tag 'audio_title' %>
    </div>

    <div class="field">
      <%= label_tag 'audio_file' %><br/>
      <%= file_field_tag 'audio_file' %>
    </div>

  </fieldset>
  
</div>