<div id="video_form_wrapper">

  <fieldset>

    <legend>Add Video</legend>

    <div class="field">
      <%= label_tag 'video_title' %><br/>
      <%= text_field_tag 'video_title' %>
    </div>
    <div class="field">
      <%= label_tag 'video_link' %><br/>
      <%= text_field_tag 'video_link' %>
    </div>

  </fieldset>
</div>