<h2>Courses</h2>

<%= @courses.each do |course| %>
    <%= link_to course do %>
      <div class="course_pill">
        <%= image_tag course.image.url %>
        <h3><%= course.title %></h3>
      </div>
    <% end %>
<% end %>