$('#updown').empty();

$('#updown').prepend('<div class="six columns"><span class="glyph social">a</span><br><%= @course.votes_for %></div><div class="six columns"><span class="glyph social">b</span><br><%= @course.votes_against %></div>');

alertify.success( 'Thanks for voting! Your vote helps surface the best courses.' ); 